* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-family: 'Khand', sans-serif;
}

nav ul {
    margin: 0 auto;
    float: right;
    margin-top: -43px;
    margin-right: 30px;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-left: 15px;
    letter-spacing: 1px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(53, 85, 77));
} 

#logo {
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    transition: 0.15 ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
}

.links {
    overflow: hidden;
}

.links .hamburger {
    display: none;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}

.typewritter {
    border-right: .09em solid;
    animation: loop 1s steps(1) infinite;
}

@keyframes loop {
    50% {
        border-color: transparent;
    }
}

#hello_section {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-left {
    text-align: center;
}

h1, h2{
    font-weight: 400;
}

.hello-left .hello-title {
    font-size: 45px;
    text-align: left;
    font-weight: 400;
}

.hello-left .hello-job{
    text-align: left;
    margin-top: 5px;
    font-weight: 400;
}

.hello-right .profile {
    max-width: 100%;
    height: auto;

}

.profile {
    margin-left: 200px;
}

.hello_btn {
    margin-left: 0 auto;
    background-color: rgb(160,209,202);
    font-size: 18px;
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width:40%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: black;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
    color: rgb(60, 63, 63);
}

.hello_btn:hover {
    background-color: rgb(91, 152, 137);
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    margin-left: 5%;
}

.button-text{
    animation: none;
    border-right: none;
    margin: 0 auto
}

#about {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_left {
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 150px;
    float: left;
    width: 45%;
}

.about_right {
    flex-flow: column; 
    width: 38%;
    margin-right: 60px;
    margin-top: 150px;

}

.twitter, .github, .behance, .youtube, .blog{
    vertical-align: middle;
    margin-left: 20px;
}

.twitter:hover {
    content: url(assets/twitter_color.svg);
    transform: scale(1.3);
    transition: 0.3s ease-in-out
}

.github:hover {
    content: url(assets/github_color.svg);
    transform: scale(1.3);
    transition: 0.3s ease-in-out
}

.behance:hover {
    content: url(assets/behance_color.svg);
    transform: scale(1.3);
    transition: 0.3s ease-in-out
}

.youtube:hover{
    content: url(assets/youtube-color.svg);
    transform: scale(1.3);
    transition: 0.3s ease-in-out
}

.blog:hover{
    content: url(assets/blog-color.svg);
    transform: scale(1.3);
    transition: 0.3s ease-in-out
}

a{
    color: rgb(53, 85, 77);
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

h3 {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;

}

.about_right h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.about_right h4{
    font-weight: 400;
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6em;
}
#bigger-p{
    font-weight: 600;
}

#skills {
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_right {
    float: right;
    width: 50%;
    margin-left: 70px;
}

.skills_left {
    float: left;
    height: auto;
    width: 30%;
    margin-left: 15%;
    margin-top: 10%;
    height: 300px;
}

.skills_img {
    margin-left: 100px;
}

.icon {
    margin-right: 10px;
    margin-top: 8px;
    height: 20%;
    vertical-align: middle;
}

.icon:hover {
    transform: scale(1.1);
}

#projects {
    width: 75%;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_center {
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.projects_header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    font-weight: 400;
}

.project_1,
.project_2,
.project_3,
.project_4,
.project_5,
.project_6 {
    width: 24%;
    padding: 0 3%;
    float: left;
    margin-left: 30px;
    height: 200px;
    margin-bottom: 150px;
}

.project_6 .content{
    width:35%;
    height: auto;
    align-items: ;
}

.content {
    border-color: black;
    border-width: 5px;
    margin-bottom: 1.5%;
}

.project_image {
    width: 100%;
    height: auto;
    opacity: 0.6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project_image:hover {
    opacity: 1;
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
    text-transform: none;
}
.project_title{
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
}
.project_para {
    font-size: 15px;
    color: rgb(58, 56, 56);
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 99;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.6;
    transform: scale(0.8);
}

#toTopBtn:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

#contact {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_right {
    margin-top: 10%;
    float: right;
    width: 35%;
    margin-bottom: 50px;
    margin-left: 70px;
}

.contact_left {
    float: left;
    width: 35%;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 400px;
}

.hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}

.contact_hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=email]:focus {
    border: 3px solid #555;
}

#nameError,
#emailError {
    font-size: 12px;
    color: red;
    margin-top: -10px;
}

#messageError {
    margin-top: -15px;
    font-size: 12px;
    color: red;
}

#tickError{
    font-size: 12px;
    margin-top: 5px;
    color: red;
}

.agree-text {
    font-size: 13px;
    padding-left: 7%;
    max-width: 80%;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.agree-checkbox .custom-checkbox {
    position: absolute;
    height: 24px;
    width: 24px;
    margin-right: 5%;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(91, 152, 137);
    transition: all 0.3s ease-out;
    animation: none;
}

.agree-checkbox .custom-checkbox::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid rgb(91, 152, 137);
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.agree-checkbox input:checked~.custom-checkbox {
    background-color: rgb(91, 152, 137);
    color: #ffffff;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid rgb(91, 152, 137);
}

.agree-checkbox input:checked~.custom-checkbox::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    height: 12px;
    width: 6px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    border-radius: 0;
}

button[type=submit] {
    background-color: rgb(0, 150, 136);
    ;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    background-image: url(assets/send_icon_white_small.svg);
    background-position: 19px 8px;
    background-repeat: no-repeat;
    text-indent: 24px;
    text-emphasis: left;
    margin-top: 12px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

button[type=submit]:hover {
    background-color: rgb(91, 152, 137);
}

.sending {
    opacity: 1;
    animation: 0.5s ease-out;
    animation-delay: 0.5s;
}

#message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    height: 150px;
}

#message:focus {
    border: 3px solid #555;
    resize: none;
}

.footer_hr {
    margin-top: 100px;
}

#footer {
    position: relative;
    display: flex;
    margin-top: 8px;

}

.footer {
    margin-bottom: 8px;
    margin-left: 10px;
}

.foot {
    font-size: 15px;
}

#privacy-policy {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: left;
}

.policy{
    display: none;
}

.policy-date {
    margin-bottom: 5%;
}

.policy-body {
    max-width: 80%;
}

.policy-body p {
    line-height: 1.6;
}

.policy-body h4 {
    margin-left: 4%;
    margin-bottom: 1%;
    line-height: 1.6;
    font-size: 19px;

}

.privacy-table li {
    line-height: 1.6;
    margin-left: 5%;
}

.privacy-table a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-out;
}

.privacy-table a:hover {
    text-decoration: underline;
}

.policy-body h5 {
    line-height: 1.6;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 18px;
}

#h11 {
    margin-top: 5%;
}

#thank-you{
    display: block;
    width: 80%;
    margin-bottom: 15%;
    position: relative;
    
}

.div-thanks{
    display: block;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.thanks{
    margin-bottom: 1%;
}

.thanks_btn{
    margin-left: 0 auto;
    background-color: rgb(160,209,202);
    font-size: 13px;
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width:8%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: black;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
    color: rgb(60, 63, 63);
}

.thanks_btn:hover{
    background-color: rgb(91, 152, 137);
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    
}

.div-thanks-img{
    width: 40%;
    margin: 5% 10% 5% 45%;
}

.thanks-image{
    width: 80%;
}

/* MEDIA QUERIES */

/* Large Devices, Wide Screens */
@media (max-width : 1210px) {
    .hello_left {
        margin-left: 5%;
        max-width: 45%;
    }

    .hello_right {
        max-width: 60%;
    }

    .profile {
        margin-left: 30%;
        max-width: 80%;
    }

    .hello-title {
        font-size: 40px;
    }

    #about{
        margin-bottom: 100px;;
    }

    .about_img {
        max-width: 90%;
    }

    .about_right p {
        font-size: 15px;
    }

    .about_right h3 {
        font-size: 30px;
    }

    #skills {
        margin-bottom: 5%;
        width: 90%;
    }

    .icon{
        height: 16%;
    }

    .skills_left {
        margin-left: 20px;
        width: 40%;
    }

    .skills_right {
        margin-left: 20px;
    }

    .projects_center {
        margin-top: 0px;
    }

    .project_1,
    .project_2,
    .project_3,
    .project_4,
    .project_5,
    .project_6 {
         width: 38%;
         align-items: center;
         align-content: center;
    }


    .contact_right h3 {
        font-size: 30px;
    }

    .contact_right p {
        font-size: 16px;
    }

    input[type="text"] {
        padding: 10px 15px
    }

    input[type="email"] {
        padding: 10px 15px;
    }

    #message {
        padding: 10px 15px;
    }

    .agree-text {
        padding-left: 10%;
    }

    .contact_img {
        max-width: 110%;
    }
    
    #thank-you{
        margin-bottom: 30%;
    }
    .div-thanks{
        margin-top: 20%;
    }
    .div-thanks-img{
        width: 70%;
        margin-left: 32%;
        margin-top: 15%;
    }
    .thanks-image{
        width: 90%;
    }

    .thanks_btn{
        width: 15%;
    }


}

/* Medium Devices, Desktops */
@media (max-width : 992px) {
    .hello_left {
        margin-left: 5%;
        max-width: 40%;
    }

    .hello_right {
        max-width: 60%;
    }

    .profile {
        margin-left: 20%;
        max-width: 70%;
    }

    #about {
        display: block;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .about_left {
        width: 100%;
        float: none;
        margin: 0 0 0 0;
    }

    .about_img {
        display: none;

    }

    .about_right {
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-top: 50px;
    }

    #skills {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .skills_right {
        margin-left: 0px;
        margin-top: 0px;
    }

    .skills_img {
        max-width: 70%;
        margin-left: 50px;

    }

    .skills_left {
        margin-left: 50px;
        padding-top: 50px;
        width: 40%;
    }

    .icon {
        height: 10%;
    }

    #projects {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .projects_center {
        margin-top: 0px;
        margin-left: 5%;
    }

    .project_1,
    .project_2,
    .project_3,
    .project_4,
    .project_5,
    .project_6 {
        width: 60%;
        margin-left: 17%;
    }

    #contact {
        display: block;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .contact_left {
        width: 100%;
        float: none;
        margin: 5% 0 0 0;
    }

    .contact_img {
        max-width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25%;

    }

    .contact_right {
        width: 60%;
        float: none;
        margin-left: 5%;
        margin-top: 0px;
    }

    input[type="text"] {
        padding: 10px 15px
    }

    input[type="email"] {
        padding: 10px 15px;
    }

    #message {
        padding: 10px 15px;
        height: 100px;
    }

    .agree-text {
        font-size: 11px;
        padding-left: 6%;
    }

    #toTopBtn {
        bottom: 20px;
        right: 15px;
    }
}

/* Small Devices, Tablets */
@media (max-width: 768px) {
    .hello_left {
        margin-left: 5%;
        max-width: 45%;
    }

    .hello_right {
        max-width: 40%;
    }

    nav ul {
        float: right;
    }

    .profile {
        display: none;
    }

    .hello_left {
        padding-right: 45%;
        padding-bottom: 22%;
        background-image: url(assets/profile-blob.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        z-index: 1;
    }

    #about {
        display: block;
        margin-top: 30px;
    }

    .about_left {
        width: 100%;
        float: none;
        margin-top: 100px;

    }

    .about_img {
        max-width: 50%;
        padding-left: 30%
    }

    .about_right {
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-top: 50px;
    }

    #skills {
        display: block;
        margin-top: 50px;
    }

    .skills_left {
        width: 50%;
        height: auto;
        margin-bottom: 12%;
        margin-top: 0;
        margin-left: 0;
    }

    .skills_left h3 {
        font-size: 30px;
    }

    .skills_right {
        margin-top: 9%;
    }

    #projects {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .projects_header {
        margin-left: 0;
    }

    .projects_center {
        display: block;
        margin-left: 0;
    }

    .project_1,
    .project_2,
    .project_3,
    .project_4,
    .project_5,
    .project_6 {
        width: 60%;
    }

    #contact {
        display: block;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .contact_left {
        width: 90%;
        margin: 0 0 0 0;
        height: auto;
    }

    .contact_img {
        max-width: 50%;
        padding-bottom: 15%;
        padding-left: 32%
    }

    .contact_right {
        margin-left: 5%;
    }

    #message {
        height: 100px;
    }

    .agree-text {
        font-size: 11px;
        padding-left: 10%;
    }

    #toTopBtn {
        bottom: 35px;
        right: 15px;
    }

    .links a {
        display: none;

    }

    .links .hamburger {
        margin-top: -10px;
    }

    .links a.hamburger {
        float: right;
        display: block;
        transition: 0.3s ease-in-out;
        transform: rotate(-180deg);
    }

    .links.responsive .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s ease-in-out;
        transform: rotate(180deg);

    }

    .links {
        overflow: hidden;
        transition: 0.9s ease-in-out;
        */
        /* transform: translateY(-80%);  */
    }


    .links.responsive {
        position: relative;
        transition: 0.9s ease-in-out;
        /* transform: translateY(-5%); */
    }

    .links.responsive a {
        float: none;
        display: block;
        text-align: right;

    }

    .menu-links {
        text-decoration: none;
        color: black;
        position: relative;
        padding: 0 10px;
        transition: 0.25s ease-in-out all;
        font-weight: 300;
    }

    .menu-links::before {
        content: '';
        position: absolute;
        background: rgb(91, 152, 137);
        width: 1px;
        height: 100%;
        right: 0;
        transition: 0.2s ease-in-out all;
        z-index: -1;
    }

    .menu-links:hover::before {
        width: 100%;
    }

    .menu-links:hover {
        color: #ffffff;
    }

    #thank-you{
        margin-bottom: 23%;
    }

    .div-thanks-img{
        margin-top: 10%;
    }
    .thanks-image{
        width: 90%;
    }

    .thanks_btn{
        width: 20%;
    }

}

/* Extra Small Devices, Phones */
@media (max-width : 638px) {

    .hello_btn {
        font-size: 15px;
        width: 50%;
    }

    #skills {
        display: block;
        margin-bottom: 100px;
        padding-left: 0%;
    }

    .skills_left {
        width: 98%;
        margin-bottom: 12%;
        margin-top: 0;
    }

    .skills_right {
       display: none;
    }

    .about_left {
        margin: 0 0 0 0;
    }

    .about_img {
        padding: 15% 0 5% 25%;
        margin: 0 0 0 0;
    }

    .contact_left {
        height: auto;
        margin-bottom: 10%;
        padding: 0 0 0 0;
    }

    .contact_img {
        padding: 0 0 0 30%;
    }

    .project_title {
        font-size: 17px;
    }

    .div-thanks-img{
        width: 70%;
        margin-left: 30%;
        margin-top: 25%;
    }
    .thanks-image{
        width: 100%;
    }

    .thanks_btn{
        width: 25%;
    }

}

@media (max-width : 532px) {
    .hello_job {
        font-size: 15px
    }

    .about_img{
       display: none;
    }

    #toTopBtn {
        bottom: 10px;
        z-index: 99;
    }

    .social-icons{
        float: left;
        width: 100%;
        margin-top: 2%;
    }

    .twitter{
        margin-left: 0;
        ;
    }

    .icon{
        width: 12%;
    }

    #projects{
        margin: 0 5%;
    }

    .projects_header{
        text-align: left;
    }

    .project_1,
    .project_2,
    .project_3,
    .project_4,
    .project_5,
    .project_6 {
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 15%;
        padding: 0;
        justify-content: flex-start;
    }

    .projects_center{
        justify-content: flex-start;
    }

    .pr_description{
        width: 90%;
    }

    .project_para{
        width: 90%;
    }

    .agree-text{
        font-size: 5px;
        padding-left: 15%;
    }

    .foot {
        width: 70%
    }
}

@media (max-width: 469px){
    .hello_left{
        background-image: none;
        padding-bottom: 0;
        z-index: 1;
    }
    .hello_right{
        max-width: 80%;
    }
    .hello_job{
        font-size: 17px;
    }
    .hello_btn{
        width: 70%;
    }

    .about_left{
        display: block;
        width: 90%;
    }
    .about_img{
        display: block;
        content: url(assets/profile-blob.png);
        float: right;
        max-width: 60%;
        padding-top: 0;
                
    }
    .project_image{
        opacity: 1;
    }

    .contact_right{
        width: 80%;
    }

    .policy{
        display: block;
        max-width: 95%;
        margin: 0 auto;
        margin-bottom: 15%;
    }

    .policy_img{
        width: 70%;
        margin-left: 15%;
    }
    #privacy-policy{
        margin-top: 15%
    }

    .policy-body{
        max-width: 95%;
    }

    #thank-you{
        margin-bottom: 40%;
    }
    .div-thanks-img{
        width: 80%;
        margin-left: 25%;
        margin-top: 25%;
    }
    .thanks-image{
        width: 100%;
    }

    .thanks_btn{
        width: 35%;
    }

}

/* Custom, iPhone Retina */
@media (max-width : 320px) {
    .icon {
        height: 50%;
        width: 25%;
    }

    nav ul {
        margin-right: -10%;
    }

    .hello_btn {
        font-size: 13px;
    }

    .hello_title {
        font-size: 35px;
        ;
    }

    .hello_job {
        font-size: 15px;
    }

    .about_left {
        margin-left: 10%;
    }

    .about_img {
        max-width: 80%;
        padding: 10% 0 0 5%;
    }

    .about_right p {
        font-size: 13px;
    }

    .skills_left {
        max-width: 95%;
        margin-bottom: 15%;
    }

    .project_title {
        font-size: 15px;
    }

    .pr_description {
        font-size: 15px;
    }

    .content {
        max-width: 200%;
    }

    .contact_img {
        display: none;
    }

    .foot {
        font-size: 13px;
    }

    #toTopBtn {
        bottom: 30px;
        z-index: 99;
    }

    
}
