* {
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

nav{
    font-family: 'Khand', sans-serif;
}

nav ul { 
    margin: 0 auto;
    float: right;
    margin-top: -35px;
    margin-right: 30px;;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-left: 15px;
    letter-spacing: 1px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: #669E91;
    
}

#logo {
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;;
}

h1{
    font-size: 45px;
}

h2 {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
  
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

#hello_section{
    width: 100%;
    height: auto;
	position: relative;
	margin-top: 100px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.hello-left-side {
	text-align: center;
}
.hello-left-side .hello-title {
	font-size: 45px;
    text-align: left;
}
.hello-left-side .hello-job {
	text-align: left;
    margin-top: 5px;
    
}
.hello-right-side .profile {
    max-width: 100%;
    height: auto;
    
}

.profile {
    margin-left: 200px;
}

.hello_btn {
      margin-left: 0 auto;
      background-color: rgb(132,220,199, 0.41);
      font-size: 20px;
      border-radius: 5px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: black;
      transition-duration: 0.2s;
      margin-top: 20px;
      
}

.hello_btn:hover {
      background-color: rgb(91,152,137);
      color: white;
      cursor: pointer;
}


#about {
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.about_left {
      margin-left: 70px;
      margin-right: 20px;
      margin-top: 150px;
      float: left;
      width: 45%;
}

.about_right{
      float: right;
      width: 40%;
      margin-right: 60px;
      margin-top: 150px;

}

.about_right a{
    margin-left: 20px;;
}

.twitter:hover{
    content: url(assets/twitter_color.svg);
}

.github:hover{
    content: url(assets/github_color.svg);
}

.behance:hover{
    content: url(assets/behance_color.svg);
}

h3 {
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 10px;

}

p {
      font-size: 17px;
      font-weight: 100;
      line-height: 23px;
      
}

#skills {
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 100px;
    margin-bottom: 90px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.skills_right {
    margin-top: 100px;
    float: right;
    width: 45%;
    margin-bottom: 50px;
    margin-left: 70px;
}

.skills_left{
    float: left;
    width: 35%;
    margin-left: 200px;
    margin-top: 150px;
    height: 400px;
}

.skills_img {
    margin-left: 100px;
}

.icon{
    margin-right: 10px;
    margin-top: 8px;
    height: 10%;
}


#projects{
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.projects_center{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.projects_header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    margin-left: -5%;
}


.project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
    width: 25%;
    padding: 10px;
    float: left;
    margin: auto;
    margin-left: 30px;
    height: 200px; 
    margin-bottom: 150px;
}

.content {
    border-color: black;
    border-width: 5px;
}

.project_image {
    width: 100%;
    margin-bottom: 10px;
    height: 165px
}

.project_image:hover {
    opacity: 0.5;
}

.project_title {
    font-size: 19px;
}

.project_para {
    font-size: 15px;
    color: rgb(58, 56, 56);
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 99;
    border: none;
    background: none;
    cursor: pointer;
}

#toTopBtn:hover {
    opacity: 0.6;
}

#contact {
    width: 100%;
    height: auto;
	position: relative;
	margin-top: 80px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.contact_right {
    margin-top: 100px;
    float: right;
    width: 35%;
    margin-bottom: 50px;
    margin-left: 70px;
}


.contact_left{
    float: left;
    width: 35%;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;;
    height: 400px;
}

.contact_hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=email]:focus {
    border: 3px solid #555;
  }

  #nameError, #emailError {
      font-size: 12px;
      color: red;
      margin-top: -10px;
  }

  #messageError {
      margin-top: -15px;
      font-size: 12px;
      color: red;
  }

  button[type=submit] {
    background-color:  rgb(0,150,136);;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    background-image: url(assets/send_icon_white_small.svg);
    background-position: 19px 8px;
    background-repeat: no-repeat;
    text-indent: 23px;
    text-emphasis: left;
    margin-top: 5px;
  }
  
  button[type=submit]:hover {
    background-color: rgb(91,152,137);
  }

  #message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    height: 150px;
  }

  #message:focus{
    border: 3px solid #555;
    resize: none;
  }

.footer_hr {
    margin-top: 100px;
}

#footer {
    position: relative;
    display: flex;
    margin-top: 8px;

}

.footer {
    margin-bottom: 8px;
    margin-left: 10px;
}

.foot {
    font-size: 15px;
}

/* MEDIA QUERIES */

 /* Large Devices, Wide Screens */
 @media (max-width : 1210px) {
    .hello_left{
        margin-left: 5%;
        max-width: 45%;
    }
    .hello_right{
        max-width: 60%;
    }
    .profile {
        margin-left: 30%;
        max-width: 80%;
    }
    
    .hello-title {
        font-size: 40px;
    }
    .about_img {
        max-width: 90%;
    }
    .about_right p {
        font-size: 15px;
    }
    .about_right h3 {
        font-size: 30px;
    }
    #skills {
        margin-bottom: 0px;
    }
    .skills_left {
        margin-left: 50px;
    }
    .skills_right {
        margin-left: 20px;
    }
    .projects_center {
        margin-top: 0px;
    }
    .contact_right h3 {
        font-size: 30px;
    }
    .contact_right p {
        font-size: 16px;
    }
    input[type="text"]{
        padding: 10px 15px
    }
    input[type="email"]{
        padding: 10px 15px;
    }
    #message {
        padding: 10px 15px;
    }
    .contact_img {
        max-width: 110%;
    }
}

 /* Medium Devices, Desktops */
@media (max-width : 992px) {
    .hello_left{
        margin-left: 5%;
        max-width: 40%;
    }
    .hello_right{
        max-width: 60%;
    }
    .profile {
        margin-left: 20%;
        max-width: 70%;
    }
    
    #about{
        display: block;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .about_left {
        width: 100%;
        float: none;
        margin-left: 25%;

    }

    .about_img {
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .about_right {
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-top: 50px;
    }
    #skills {
        margin-bottom: 0px;
    }

    .skills_right{
        margin-left: 0px;
    } 

    .skills_img {
        max-width: 70%;
        margin-left: 50px;
    }

    .skills_left {
        margin-left: 50px;
        width: 40%;
    }

    #projects{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .projects_center {
        margin-top: 0px;
        margin-left: 5%;
    }

    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
        width: 40%;
    }

    #contact{
        display: block;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .contact_left {
        width: 100%;
        float: none;
        margin-left: 30%;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    .contact_img {
        max-width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .contact_right {
        width: 70%;
        float: none;
        margin-left: 5%;
        margin-top: 0px;
    }

    input[type="text"]{
        padding: 10px 15px
    }
    input[type="email"]{
        padding: 10px 15px;
    }
    #message {
        padding: 10px 15px;
        height: 100px;
    }

    #toTopBtn { 
        bottom: 20px;
        right: 15px;
    }


}

 /* Small Devices, Tablets */
@media (max-width: 768px) {
    .hello_left{
        margin-left: 5%;
        max-width: 45%;
    }
    .hello_right{
        max-width: 40%;
    }

    nav ul {
        float: right;;
    }

    .profile {
        margin-left: 25%;
        max-width: 80%;
    }
    
    #about{
        display: block;
        margin-top: 50px;
    }
    .about_left {
        width: 100%;
        float: none;
        margin-left: 25%;

    }

    .about_img {
        max-width: 50%;

    }
    .about_right {
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-top: 50px;
    }

    #skills {
        display: block;
        margin-top:50px;
        padding-left: 15%;
    }
    .skills_left {
        width: 100%;
        align-items: center;
        height: auto;
        margin-bottom: 10%;
        margin-top: 1%;
        
    }
    .skills_right {
        display: none;
    }

    #projects {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .projects_header{
        margin-left: 0;
    }

    .projects_center {
        display: block;
        margin-left: 0;
    }

    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
        width: 40%;
    }

    #contact{
        display: block;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .contact_left {
        width: 100%;
        float: none;
        margin-left: 30%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contact_img {
        max-width: 50%;

    }
    .contact_right {
        width: 70%;
        float: none;
        margin-left: 5%;
        margin-top: 0px;
    }
    #message {
        height: 100px;
    }

    #toTopBtn { 
        bottom: 35px;
    }
}

   /* Extra Small Devices, Phones */ 
@media (max-width : 638px) {
    #skills {
        display: block;
        margin-bottom: 100px;
        padding-left: 15%;
    }
    .skills_left {
        width: 90%;
        align-items: center;
        margin-left: 0px;
    }
    .skills_right {
        display: none;
    }

    .contact_left {
        height: auto;
        margin-bottom: 10%;
    }

    .project_title{
        font-size: 17px;;
    }
    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
        width: 55%;
        padding-left: 20%;
    }
   

}
@media (max-width : 532px) {
    .profile{
        display: none;
    }
    .hello_left{
        padding-right: 40%;
    }
    .hello_btn{
        font-size: 15px;
    }
    .hello_job{
        font-size: 15px
    }    
    #toTopBtn{
        bottom: 10px;
        right: 10px;
        z-index: 99;
    }
    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
        width: 60%;
        padding-left: 1%;
    }
}
  
/* Custom, iPhone Retina */ 
@media (max-width : 320px) {
    .hello_btn{
        font-size: 13px;
    }
    .hello_title{
        font-size: 35px;;
    }
    .hello_job{
        font-size: 15px;
    }
    .about_left{
        margin-left: 10%;
    }
    .about_img{
        max-width: 80%;
    }
    .about_right p{
        font-size: 13px;
    }
    .skills_left{
        max-width: 70%;
        margin-bottom: 15%;
    }
    .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
        width: 60%;
        padding-left: 1%;
    }
    .project_title{
        font-size: 15px;
    }
    .pr_description{
        font-size: 15px;
    }
    .content{
        max-width: 200%;
    }

    .contact_img{
        display: none;
    }
    #toTopBtn{
        bottom: 30px;
        right: 50px;
        z-index: 99;
    }
}
