* {
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

nav{
    font-family: 'Khand', sans-serif;
}

nav ul { 
    margin: 0 auto;
    float: right;
    margin-top: -35px;
    margin-right: 30px;;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-left: 15px;
    letter-spacing: 1px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: #669E91;
    
}

#logo {
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;;
}

h1{
    font-size: 45px;
}

h2 {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
  
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

#hello_section{
    width: 100%;
    height: auto;
	position: relative;
	margin-top: 100px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.hello-left-side {
	text-align: center;
}
.hello-left-side .hello-title {
	font-size: 45px;
    text-align: left;
}
.hello-left-side .hello-job {
	text-align: left;
    margin-top: 5px;
    
}
.hello-right-side .profile {
    max-width: 100%;
    height: auto;
    
}

.profile {
    margin-left: 200px;
}

.hello_btn {
      margin-left: 0 auto;
      background-color: rgb(132,220,199, 0.41);
      font-size: 20px;
      border-radius: 5px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: black;
      transition-duration: 0.2s;
      margin-top: 20px;
      
}

.hello_btn:hover {
      background-color: rgb(91,152,137);
      color: white;
      cursor: pointer;
}


#about {
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.about_left {
      margin-left: 70px;
      margin-right: 20px;
      margin-top: 150px;
      float: left;
      width: 45%;
}

.about_right{
      float: right;
      width: 40%;
      margin-right: 60px;
      margin-top: 150px;

}

.about_right a{
    margin-left: 20px;;
}

.twitter:hover{
    content: url(assets/twitter_color.svg);
}

.github:hover{
    content: url(assets/github_color.svg);
}

.behance:hover{
    content: url(assets/behance_color.svg);
}

h3 {
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 10px;

}

p {
      font-size: 17px;
      font-weight: 100;
      line-height: 23px;
      
}

#skills {
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 100px;
    margin-bottom: 90px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.skills_right {
    margin-top: 100px;
    float: right;
    width: 45%;
    margin-bottom: 50px;
    margin-left: 70px;
}

.skills_left{
    float: left;
    width: 35%;
    margin-left: 200px;
    margin-top: 150px;
    height: 400px;
}

.skills_img {
    margin-left: 100px;
}

#icon{
    margin-right: 10px;
    margin-top: 8px;
    height: 10%;
}


#projects{
    width: 100%;
    height: auto;
	position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.projects_center{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.projects_header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    margin-left: -5%;
}


.project_1, .project_2, .project_3, .project_4, .project_5 {
    width: 25%;
    padding: 10px;
    float: left;
    margin: auto;
    margin-left: 30px;
    height: 200px; 
    margin-bottom: 150px;
}

.content {
    border-color: black;
    border-width: 5px;
}

.project_image {
    width: 100%;
    margin-bottom: 10px;
    height: 165px
}

.project_image:hover {
    opacity: 0.5;
}

.project_title {
    font-weight: bolder;
}

#contact {
    width: 100%;
    height: auto;
	position: relative;
	margin-top: 80px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.contact_right {
    margin-top: 100px;
    float: right;
    width: 35%;
    margin-bottom: 50px;
    margin-left: 70px;
}


.contact_left{
    float: left;
    width: 35%;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;;
    height: 400px;
}

.contact_hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=email]:focus {
    border: 3px solid #555;
  }


  button[type=submit] {
    background-color:  rgb(0,150,136);;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    background-image: url(assets/send_icon_white_small.svg);
    background-position: 19px 8px;
    background-repeat: no-repeat;
    text-indent: 23px;
    text-emphasis: left;
  }
  
  button[type=submit]:hover {
    background-color: rgb(91,152,137);
  }

  #message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    height: 150px;
  }

  #message:focus{
    border: 3px solid #555;
    resize: none;
  }

.footer_hr {
    margin-top: 100px;
}

#footer {
    position: relative;
    display: flex;
    margin-top: 10px;

}

.footer {
    margin-bottom: 10px;
    margin-left: 10px;
}
